<%- include('partials/header.ejs')%>

    <h1>Assignment id: <%= assignment.id %>
    </h1>
    <h2>
        <%= assignment.pdf%> - <%= assignment.title%>
    </h2>
    </form>
    <a href="/chem/<%=assignment.id%>/edit">Edit Comment</a>

    <%- include('partials/footer.ejs')%>